In [1]:
import pandas as pd

In [3]:
a=pd.read_csv('closeprice.csv',encoding='gbk')
bins=[4,9,10,20,30]
cat=pd.cut(a.closePrice,bins)
cat

0     (9, 10]
1    (20, 30]
2    (20, 30]
3      (4, 9]
4      (4, 9]
5    (10, 20]
Name: closePrice, dtype: category
Categories (4, interval[int64]): [(4, 9] < (9, 10] < (10, 20] < (20, 30]]

In [6]:
pd.value_counts(cat)

(20, 30]    2
(4, 9]      2
(10, 20]    1
(9, 10]     1
Name: closePrice, dtype: int64

In [7]:
group_names = ['low',  'Middle_1', 'Middle_2', 'high']

In [9]:
import pandas as pd
df = pd.read_csv('20170930.csv', dtype={'ticker': str, 'holdingTicker':str,}, encoding='GBK')
df = df[['ticker', 'holdingTicker', 'marketValue', 'industryName1']]
df.head(10)

   ticker holdingTicker   marketValue industryName1
0  000001        002236  2.374015e+08            电子
1  000001        000568  2.162791e+08          食品饮料
2  000001        300156  1.603200e+08          公用事业
3  000001        603799  1.538800e+08          有色金属
4  000001        600056  1.519638e+08          医药生物
5  000001        601988  1.383940e+08            银行
6  000001        000858  1.317445e+08          食品饮料
7  000001        300477  1.197556e+08          电气设备
8  000001        601166  1.050489e+08            银行
9  000001        600779  1.024557e+08          食品饮料

In [13]:
df[['holdingTicker']].groupby(df['ticker']).count().head()

        holdingTicker
ticker
000001             10
000003              4
000004              4
000005              1
000007             10

In [14]:
df[['holdingTicker']].groupby(df['industryName1']).count().sort_values('holdingTicker', ascending=False).head()

               holdingTicker
industryName1
银行                      4666
电子                      3850
食品饮料                    3539
非银金融                    3306
医药生物                    2950

In [15]:
df[['marketValue']].groupby(df['ticker']).sum().sort_values('marketValue', ascending=False).head()

         marketValue
ticker
510050  1.818564e+10
001683  9.222674e+09
001772  7.983531e+09
150201  7.650096e+09
150200  7.650096e+09

In [16]:
def t_range(arr):
     return arr.max() - arr.min()

In [17]:
df[['marketValue']].groupby(df['ticker']).agg(t_range).head()

         marketValue
ticker
000001  1.349458e+08
000003  1.820900e+06
000004  1.820900e+06
000005  0.000000e+00
000007  7.454000e+05

In [18]:
df[['marketValue']].groupby(df['ticker']).agg(['sum', 'max', t_range]).head()

         marketValue
                 sum           max       t_range
ticker
000001  1.517243e+09  2.374015e+08  1.349458e+08
000003  5.342707e+06  1.978000e+06  1.820900e+06
000004  5.342707e+06  1.978000e+06  1.820900e+06
000005  1.277144e+06  1.277144e+06  0.000000e+00
000007  8.266880e+06  1.287000e+06  7.454000e+05

In [19]:
df[['marketValue', 'industryName1']].groupby(df['ticker']).agg ({'marketValue':[t_range],  'industryName1':['count']}).head()

         marketValue industryName1
             t_range         count
ticker
000001  1.349458e+08            10
000003  1.820900e+06             4
000004  1.820900e+06             4
000005  0.000000e+00             1
000007  7.454000e+05            10

In [20]:
df.groupby('ticker')

In [22]:
df.apply(lambda x: x[:3]).head(6)

   ticker holdingTicker   marketValue industryName1
0  000001        002236  2.374015e+08            电子
1  000001        000568  2.162791e+08          食品饮料
2  000001        300156  1.603200e+08          公用事业